<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <!-- <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6> -->
          <h6 class="h2 text-white d-inline-block mb-0">Data Member</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/crm/crm_member_temp" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <div class="row">
                <div class="col-md-4">
                  <h3 slot="header" class="mb-0">Edit Data Member</h3>
                </div>
                <div class="col-md-5">

                </div>
                <div class="col-md-3">
                  <div v-if="this.iniStatus === false">
                    <div style="color: orange">
                      <!-- <b> Lunas </b> -->
                      <base-button type="warning" class="btn btn-md">
                        Belum Tersinkronisasi Katalis
                      </base-button>
                    </div>
                  </div>
                  <div v-else>
                    <div style="color: green">
                      <!-- <b> Belum Lunas </b> -->
                      <base-button type="success" class="btn btn-md">
                        Sudah Tersinkronisasi Katalis
                      </base-button>
                    </div>
                  </div>
                </div>
              </div>

              <br>

              <validation-observer
                ref="form"
              >
                <form
                  class="needs-validation"
                  @submit.prevent="updateMemberTemp()"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <base-input label="Customer">
                        <el-select
                          v-model="form.idAkun"
                          filterable
                          clearable
                          disabled
                          placeholder="Pilih Customer"
                          @change="onChangeCustomer()"
                        >
                          <el-option
                            v-for="option in customerOptions"
                            :key="option.idAkun"
                            :label="option.perusahaanName"
                            :value="option.idAkun"
                          ></el-option>
                        </el-select>
                      </base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.idAkun === ''"
                      >
                        {{ this.errors1.idAkun }}
                      </a>
                    </div>
                    <div class="col-md-6">
                      <base-input
                        label="NIS"
                        name="number"
                        placeholder="Masukkan NIS"
                        success-message="Looks good!"
                        v-model="form.number"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.number === ''"
                      >
                        {{ this.errors1.number }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-md-6">
                      <base-input
                        label="NISN"
                        name="number2"
                        placeholder="Masukkan NISN"
                        success-message="Looks good!"
                        v-model="form.number2"
                      ></base-input>
                    </div>
                    <div class="col-md-6">
                      <base-input
                        label="Nama"
                        name="name"
                        placeholder="Masukkan Nama"
                        success-message="Looks good!"
                        v-model="form.name"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.name === ''"
                      >
                        {{ this.errors1.name }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-md-6">
                      <base-input label="Jenis Kelamin">
                        <el-select
                          v-model="form.gender"
                          placeholder="Pilih Jenis Kelamin"
                        >
                          <el-option
                            v-for="option in genderOptions"
                            :key="option.label"
                            :label="option.label"
                            :value="option.value"
                          ></el-option>
                        </el-select>
                      </base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.gender === ''"
                      >
                        {{ this.errors1.gender }}
                      </a>
                    </div>
                    <div class="col-md-6">
                      <base-input label="Tanggal Lahir">
                        <flat-picker
                          slot-scope="{ focus, blur }"
                          @on-open="focus"
                          @on-close="blur"
                          :config="{ allowInput: true }"
                          class="form-control datepicker"
                          placeholder="Pilih Tanggal Lahir"
                          name="dateOfBirth"
                          rules="required"
                          v-model="form.dateOfBirth"
                        >
                        </flat-picker>
                      </base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.dateOfBirth === ''"
                      >
                        {{ this.errors1.dateOfBirth }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-md-6">
                      <base-input
                        label="Tempat Lahir"
                        name="placeOfBirth"
                        placeholder="Tempat Lahir"
                        success-message="Looks good!"
                        v-model="form.placeOfBirth"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.placeOfBirth === ''"
                      >
                        {{ this.errors1.placeOfBirth }}
                      </a>
                    </div>
                    <div class="col-md-6">
                      <base-input label="Alamat Lengkap">
                        <textarea
                          class="form-control"
                          name="address"
                          placeholder="Alamat"
                          success-message="Looks good!"
                          :rules="{ required: true }"
                          v-model="form.address"
                          rows="3"
                        ></textarea>
                      </base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.address === ''"
                      >
                        {{ this.errors1.address }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-md-6">
                      <base-input
                        label="Kelas"
                        name="kelas"
                        placeholder="Contoh = 7 atau VII"
                        success-message="Looks good!"
                        v-model="form.kelas"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.kelas === ''"
                      >
                        {{ this.errors1.kelas }}
                      </a>
                    </div>
                    <div class="col-md-6">
                      <base-input
                        label="Kelas Detail"
                        name="kelasDetail"
                        placeholder="Contoh = 7-A atau VII A"
                        success-message="Looks good!"
                        v-model="form.kelasDetail"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 12px"
                        v-if="this.form.kelasDetail === ''"
                      >
                        {{ this.errors1.kelasDetail }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-md-6">
                      <base-input label="Tags">
                        <tags-input v-model="form.tags"></tags-input>
                      </base-input>
                    </div>
                    <div class="col-md-6">
                      <base-input
                        label="Note"
                        name="note"
                        placeholder="Note"
                        success-message="Looks good!"
                        v-model="form.note"
                      ></base-input>
                    </div>
                  </div>

                  <br />

                  <div class="row mt-2">
                    <div class="col-md-4"></div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                      <nuxt-link
                        class="btn btn-warning"
                        to="/crm/crm_member_temp"
                        >Batal</nuxt-link
                      >
                      <base-button type="primary" native-type="submit"
                        >Simpan</base-button
                      >
                    </div>
                  </div>
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
  name: "memberTempForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    flatPicker,
  },
  data() {
    return {
      genderOptions: [
        {
          label: "Laki-laki",
          value: "Laki-laki",
        },
        {
          label: "Perempuan",
          value: "Perempuan",
        },
      ],
      iniStatus: "",
      customerOptions: [],
      validated: false,
      form: {
        idAkun: "",
        number: "",
        number2: "",
        name: "",
        gender: "",
        dateOfBirth: "",
        placeOfBirth: "",
        address: "",
        tags: [],
        kelas: "",
        kelasDetail: "",
        note: "",
        statusMigrasiKatalis: false,
      },
      errors1: {
        idAkun: "",
        number: "",
        number2: "",
        name: "",
        gender: "",
        dateOfBirth: "",
        placeOfBirth: "",
        address: "",
        tags: [],
        kelas: "",
        kelasDetail: "",
        note: "",
      },
    };
  },
  beforeMount() {
    this.getCustomer();

    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    if (Object.entries(this.$route.query).length > 0) {
      this.$axios
        // .$get(`main_base/member_temp/member_temp/${this.$route.params.row}`)
        .$get(`main_base/member_temp/member_temp/${this.$route.query.id}`)
        .then((response) => {
          this.form.idAkun = response.idAkun;
          this.form.number = response.number;
          this.form.number2 = response.number2;
          this.form.name = response.name;
          this.form.dateOfBirth = response.dateOfBirth;
          this.form.address = response.address;
          this.form.gender = response.gender;
          this.form.kelas = response.kelas;
          this.form.kelasDetail = response.kelasDetail;
          this.form.placeOfBirth = response.placeOfBirth;
          this.form.tags = response.tags;
          this.form.note = response.note;
          this.iniStatus = response.statusMigrasiKatalis;
        });
    } else {
      this.$router.push("/crm/crm_member_temp");
    }
  },
  methods: {

    getCustomer() {
      this.$axios
        .$get("main_base/pelanggan/get_combo_pelanggan")
        .then((response) => {
          this.customerOptions = response;

          // .$get("main_base/pelanggan/get_combo_pelanggan")
          // .then((response) => {
          //   this.customerOptions = response;
          //   if (response) {
          //     if (response.length == 1) {
          //       this.customer = response[0]._id;
          //     } else if (response.length > 1) {
          //       var customerId = this.$store.state.customer.customerId;
          //       if (customerId != "") {
          //         this.customer = customerId;
          //         this.getPipeline();
          //       }
          //     }
          //   }
        });
    },

    async updateMemberTemp() {
      if (
        this.form.idAkun === "" ||
        this.form.number === "" ||
        this.form.name === "" ||
        this.form.gender === "" ||
        this.form.dateOfBirth === "" ||
        this.form.placeOfBirth === "" ||
        this.form.address === "" ||
        this.form.tags === "" ||
        this.form.kelas === "" ||
        this.form.kelasDetail === ""
      ) {
        this.errors1.idAkun = "Pelanggan Belum Dipilih";
        this.errors1.number = "NIS Belum Diisi";
        this.errors1.name = "Nama Belum Diisi";
        this.errors1.gender = "Jenis Kelamin Belum Dipilih";
        this.errors1.dateOfBirth = "Tanggal Lahir Belum Dipilih";
        this.errors1.placeOfBirth = "Tempat Lahir Belum Diisi";
        this.errors1.address = "Alamat Lengkap Belum Diisi";
        this.errors1.tags = "Tags Belum Diisi";
        this.errors1.kelas = "Kelas Belum Diisi";
        this.errors1.kelasDetail = "Kelas Detail Belum Diisi";

        this.$notify({
          message: "Inputan Belum Lengkap",
          timeout: 3500,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
      } else {
        let loader = this.$loading.show(); // manggil loading

        this.$axios
          .$put(
            `main_base/member_temp/member_temp/${this.$route.query.id}`,
            this.form
          )
          .then((response) => {
            loader.hide(); // hide loading

            this.$notify({
              message: "Data Telah Berhasil Diubah",
              timeout: 3500,
              icon: "ni ni-check-bold",
              type: "success",
            });
            this.$router.push("/crm/crm_member_temp");
          })
          .catch((e) => {
            loader.hide(); // hide loading
          });
      }
    },
  },
};
</script>
