<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{ $route.name }}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data Device</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="deviceSubmit">
                  <div class="col-md-8">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Nama Device</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="namaDevice"
                          placeholder="Nama Device"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.namaDevice"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Device Absensi</label
                      >
                      <div class="col-md-9">
                        <base-switch
                          class="mr-1"
                          v-model="form.isAbsen"
                          type="default"
                        ></base-switch>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Device Absensi Sekolah</label
                      >
                      <div class="col-md-9">
                        <base-switch
                          class="mr-1"
                          v-model="form.isEduAbsen"
                          type="default"
                        ></base-switch>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Device Ruangan</label
                      >
                      <div class="col-md-9">
                        <base-switch
                          class="mr-1"
                          v-model="form.isEduRoom"
                          type="default"
                        ></base-switch>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Tags</label
                      >
                      <div class="col-md-9">
                        <tags-input
                          v-model="form.tags"
                          placeholder="Tambah Tags"
                        ></tags-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Biaya Tap</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="biayaTap"
                          placeholder="Biaya Tap"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.biayaTap"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Max Free</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="maxFree"
                          placeholder="Max Free"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.maxFree"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Keterangan</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="keterangan"
                          placeholder="Keterangan"
                          v-model="form.keterangan"
                        ></base-input>
                      </div>
                    </div>
                  </div>

                  <nuxt-link
                    class="btn btn-warning"
                    to="/admin_server/data_device"
                    >Cancel</nuxt-link
                  >
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

export default {
  name: "MesinAksesForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      validated: false,
      form: {
        namaDevice: "",
        isAbsen: false,
        isEduAbsen: false,
        isEduRoom: false,
        tags: "",
        biayaTap: "",
        maxFree: "",
        keterangan: "",
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    if (this.$route.query.id) {
      this.$axios
        .$get(`main_base/device/device/${this.$route.query.id}`)
        .then((response) => {
          this.form.namaDevice = response.namaDevice;
          this.form.isAbsen = response.isAbsen;
          this.form.isEduAbsen = response.isEduAbsen;
          this.form.isEduRoom = response.isEduRoom;
          this.form.tags = response.tags;
          this.form.biayaTap = response.biayaTap;
          this.form.maxFree = response.maxFree;
          this.form.keterangan = response.keterangan;
        });
    }
  },
  methods: {
    async deviceSubmit() {
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          if (this.$route.query.id) {
            this.$axios
              .$put(
                `main_base/device/device/${this.$route.query.id}`,
                this.form
              )
              .then((response) => {
                swal.fire({
                  title: `Sukses`,
                  text: "Data Berhasil Diubah",
                  buttonsStyling: false,
                  confirmButtonClass: "btn btn-success",
                  type: "success",
                });
                this.$router.push("/admin_server/data_device");
              })
              .catch((e) => {
                swal.fire({
                  title: `Failed`,
                  text: "Data Gagal Diubah",
                  buttonsStyling: false,
                  confirmButtonClass: "btn btn-danger",
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$axios
              .$post(`main_base/device/device`, this.form)
              .then((response) => {
                swal.fire({
                  title: `Sukses`,
                  text: "Data Berhasil Tersimpan",
                  buttonsStyling: false,
                  confirmButtonClass: "btn btn-success",
                  type: "success",
                });
                this.$router.push("/admin_server/data_device");
              })
              .catch((e) => {
                swal.fire({
                  title: `Failed`,
                  text: "Data Gagal Disimpan",
                  buttonsStyling: false,
                  confirmButtonClass: "btn btn-danger",
                  type: "danger",
                });
              });
          }
        });
      }
    },
  },
};
</script>
