<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--7">
      <main class="content">
        <div class="container p-0">

          <div class="card">
            <div class="row g-0">

              <iframe 
                :src="'http://chat.katalis.info/chat?token='+form.token"
                style="border:1px #ffffff solid;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="600px" width="100%" allowfullscreen>
              </iframe>


              <!-- <iframe 
                :src="'http://192.168.1.97:52940/chat?token='+form.token"
                style="border:1px #ffffff solid;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="600px" width="100%" allowfullscreen>
              </iframe> -->


              <!-- <iframe 
                :src="'http://192.168.1.97:3000/login?username='+form.username+'&password='+form.password"
                style="border:1px #ffffff solid;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="600px" width="100%" allowfullscreen>
              </iframe> --> 

            </div>
          </div>

        </div>
      </main>
    </div>
  </div>
</template>
<script>

import Vue from "vue";

export default {
  data() {
    return {
      form: {
        token: this.$store.state.user.token,

        // username: this.$store.state.user.user.accounts.[0].id,
        // password: this.$store.state.user.user.accounts.[0].id.substr(0, 8)
      },
      
    };
  },
  beforeMount() {

  },
  methods: {
    
  },
};
</script>
<style class="cp-pen-styles"></style>
