<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            Detail Data Pendaftar
          </h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>

        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/crm_ppdb/pendaftar" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container mt--6 pb-5">
      <!-- Table -->
        
        <div class="row">
          <!-- card form pendaftaran -->
          <div class="col-xl-7">
            <card type="" header-classes="bg-transparent">
              <div slot="header" class="row align-items-center">
                <div class="col">
                  <h5 class="h3 text-default mb-0">Detail Data</h5>
                </div>
              </div>

              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="handleSubmit()">
                  <!-- step 1 -->
                  <div>
                    <div class="row">
                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Nama Calon Siswa"
                          name="name"
                          rules="required"
                          v-model="form.name"
                        ></base-input>
                      </div>

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Jenjang"
                          success-message=""
                          rules="required"
                          v-model="formAwal.jenjang"
                        ></base-input>
                      </div>
                    </div>
                    
                    <div class="row">
                      
                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Jenjang Detail"
                          success-message=""
                          rules="required"
                          v-model="formAwal.jenjangDetail"
                        ></base-input>
                      </div>

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Email Akun/ Orang Tua"
                          success-message=""
                          rules="required"
                          v-model="formAwal.email"
                        ></base-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Nama Akun/ Orang Tua"
                          name="creatorName"
                          rules="required"
                          v-model="form.creatorName"
                        ></base-input>
                      </div>
                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Nomor WA/ Telepon Orang Tua"
                          name="phone"
                          rules="required"
                          v-model="form.phone"
                        ></base-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Warga Negara"
                          success-message=""
                          rules="required"
                          v-model="form.identity.nation"
                        ></base-input>
                      </div>

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Nomor Identitas (NIK)"
                          name="nik"
                          rules="required"
                          v-model="form.identity.nik"
                          type="number"
                        ></base-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Tempat Lahir"
                          name="placeOfBirth"
                          success-message=""
                          rules="required"
                          v-model="form.identity.placeOfBirth"
                        ></base-input>
                      </div>
                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Tanggal lahir"
                          type="date"
                          name="dateOfBirth"
                          success-message=""
                          rules="required"
                          v-model="form.identity.dateOfBirth"
                        ></base-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">

                        <base-input label="Alamat Lengkap Saat Ini" disabled="">
                          <textarea
                              disabled=""
                              name="address"
                              v-model="form.identity.address" 
                              class="form-control" 
                              rows="3" 
                              resize="none"
                          ></textarea>
                        </base-input>
                      </div>
                    </div>
                    
                    <!-- provinsi -->
                    <div class="row">

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Provinsi"
                          success-message=""
                          rules="required"
                          v-model="form.identity.province"
                        ></base-input>
                      </div>

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Kabupaten/Kota"
                          success-message=""
                          rules="required"
                          v-model="form.identity.city"
                        ></base-input>
                      </div>
                    </div>

                    <div class="row">

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Kecamatan"
                          success-message=""
                          rules="required"
                          v-model="form.identity.district"
                        ></base-input>
                      </div>

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Kelurahan/Desa"
                          success-message=""
                          rules="required"
                          v-model="form.identity.village"
                        ></base-input>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Kode Pos"
                          name="poscode"
                          success-message=""
                          rules=""
                          type="number"
                          v-model="form.identity.posCode"
                        ></base-input>
                      </div>

                      <div class="col-md-6">
                        <base-input
                          disabled=""
                          label="Tahun Ajaran / Lulusan Tahun"
                          name="year"
                          success-message=""
                          rules=""
                          type="number"
                          v-model="form.year"
                        ></base-input>
                      </div>
                    </div>
                  </div>
                  <!-- end step 1 -->

                </form>
              </validation-observer>
            </card>
          </div>
          <!-- end card pendaftaran -->

          <!-- upload foto -->
          <div class="col-xl-5">

            <div>
              <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
                <template>
                  <div class="text-center mb-3">
                    <div v-if="formAwal.status === 'PROSES'">
                      <div>
                      <b> Status Pendaftaran </b> : <base-button type="info" class="btn btn-sm"> PROSES </base-button>
                      </div>
                    </div>
                    <div v-if="formAwal.status === 'TERIMA'">
                      <div>
                        <b> Status Pendaftaran </b> : <base-button type="success" class="btn btn-sm"> LULUS </base-button>
                      </div>
                    </div> 
                    <div v-if="formAwal.status === 'TOLAK'">
                      <div>
                        <b> Status Pendaftaran </b> : <base-button type="danger" class="btn btn-sm"> TIDAK LULUS </base-button>
                      </div>
                    </div>
                    <div v-if="formAwal.status === 'TUNGGU'">
                      <div>
                        <b> Status Pendaftaran </b> : <base-button type="warning" class="btn btn-sm"> CADANGAN </base-button>
                      </div>
                    </div>
                  </div>
                </template>
              </card>
            </div>

            <card type="" header-classes="bg-transparent">
              <div slot="header" class="row align-items-center">
                <div class="col">
                  <h5 class="h3 mb-0">Detail Foto</h5>
                </div>
              </div>

              <div class="row"> 

                <!-- imagePasphoto -->
                <div class="col-md-6" v-if="get_imageOption.imagePasphoto === 'imagePasphoto' ">
                  <div>
                    <!-- jika imagepasphoto kosong, maka tampil dropzone file upload -->
                    <a v-if="imagePasphoto === null">
                      
                    </a>
                    <!-- jika imagepasfoto ada isinya (tidak kosong) maka akan tampil image nya -->
                    <a v-else>
                      <img
                        class="card-img-top"
                        :src="
                          `${$axios.defaults.baseURL}main_base/image/get/${imagePasphoto}/pas`
                        "
                        alt=""
                      />
                    </a>
                  </div>
                </div>

                <!-- imageIjazah -->
                <div class="col-md-6" v-if="get_imageOption.imageIjazah === 'imageIjazah' ">
                  <div>
                    <a v-if="imageIjazah === null">
                    </a>
                    <a v-else>
                      <img
                        class="card-img-top"
                        :src="
                          `${$axios.defaults.baseURL}main_base/image/get/${imageIjazah}/pas`
                        "
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                
                <!-- imageRaport -->
                <div class="col-md-6" v-if="get_imageOption.imageRaport === 'imageRaport' ">
                  <div>
                    <a v-if="imageRaport === null">
                    </a>
                    <a v-else>
                      <img
                        class="card-img-top"
                        :src="
                          `${$axios.defaults.baseURL}main_base/image/get/${imageRaport}/pas`
                        "
                        alt=""
                      />
                    </a>
                  </div>
                </div>

                <!-- imageKk -->
                <div class="col-md-6" v-if="get_imageOption.imageKk === 'imageKk' ">
                  <div>
                    <a v-if="imageKk === null">
                    </a>
                    <a v-else>
                      <img
                        class="card-img-top"
                        :src="
                          `${$axios.defaults.baseURL}main_base/image/get/${imageKk}/pas`
                        "
                        alt=""
                      />
                    </a>
                  </div>
                </div>

              </div>
            </card>
          </div>
          <!-- end upload foto -->
        </div>

    </div>

     <!-- wizard  -->
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>

              <form-wizard
                errorColor="#8b0000"
                title=""
                subtitle=""
                color="#03a9fc"
                shape="circle"
              >
                
                  <tab-content
                    v-for="(item, index) in pipelineData" :key="index"
                    lazy
                    :title="item.name"
                    icon=""
                  >
                    <validation-observer ref="pipelineValidator">
                      <form class="needs-validation">

                        <div
                          class="form-group row"
                          v-for="(item2, index) in item.form"
                          :key="index"
                        >

                          <label
                            class="col-md-3 col-form-label form-control-label"
                            >{{ item2.name }}</label
                          >

                          <div class="col-md-6">
                            <base-input
                              disabled=""
                              :type="item2.tipe"
                              :name="item2.name"
                              v-model="item2.value"
                              rules=""
                            ></base-input>
                          </div>

                        </div>
                      </form>
                    </validation-observer>
                  </tab-content>
                
              </form-wizard>
              
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Charts
import * as chartConfigs from "@/components/argon-core/Charts/config";
import LineChart from "@/components/argon-core/Charts/LineChart";
import BarChart from "@/components/argon-core/Charts/BarChart";

// Components
import BaseProgress from "@/components/argon-core/BaseProgress";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import StatsCard from "@/components/argon-core/Cards/StatsCard";
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";

// Lists
import ActivityFeed from "@/components/pages/dashboard/ActivityFeed.vue";
import TaskList from "@/components/pages/dashboard/TaskList.vue";
import UserList from "@/components/pages/dashboard/UserList.vue";
import ProgressTrackList from "@/components/pages/dashboard/ProgressTrackList.vue";

// Tables
import LightTable from "@/components/pages/dashboard/LightTable.vue";
import SocialTrafficTable from "@/components/pages/dashboard/SocialTrafficTable.vue";
import PageVisitsTable from "@/components/pages/dashboard/PageVisitsTable.vue";
import { Table, TableColumn, Select, Option } from "element-ui";
import BaseButton from "../../../components/argon-core/BaseButton.vue";
import Validation from "../../template/forms/validation.vue";

import Modal from "@/components/argon-core/Modal.vue";
import FileInput from "@/components/argon-core/Inputs/FileInput";

export default {
  name: "DataAkunForm",
  components: {
    Modal,
    FileInput,
    DropzoneFileUpload,
    FormWizard,
    TabContent,
    ActivityFeed,
    LineChart,
    BarChart,
    BaseProgress,
    RouteBreadCrumb,
    StatsCard,
    TaskList,
    PageVisitsTable,
    SocialTrafficTable,
    LightTable,
    UserList,
    ProgressTrackList,
    BaseButton,
    Validation,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      GET_JENJANG_OPTION: [
        {
          label: "TK",
          value: "TK",
        },
        {
          label: "SD",
          value: "SD",
        },
        {
          label: "SMP",
          value: "SMP",
        },
        {
          label: "SMA",
          value: "SMA",
        },
      ],
      imagePasphoto: null,
      imageIjazah: null,
      imageKk: null,
      imageRaport: null,

      pipelineData: [],

      get_imageOption:{
        imagePasphoto : "",
        imageKk : "",
        imageIjazah : "",
        imageRaport : "",
      },

      formAwal: {
        status: "",
        name: "",
        phone: "",
        creatorName: "",
        jenjang: "",
        jenjangDetail: "",
        email: "",
        year: "",
        identity: {
          placeOfBirth: "",
          nation: "",
          nik: "",
          address: "",
          posCode: "",
          province: "",
          city: "",
          district: "",
          village: "",
        },
        invoiceId: "",
        invoice: {
          lastInvoiceId: "",
          invoiceDate: "",
          invoiceYear: "",
          number: "",
          vaBank: "",
          vaNumber: "",
          vaName: "",
          title: "",
          expiredDate: "",
          amount: "",
          discount: "",
          paymentStatus: ""
        }
      },
      form: {
        name: "",
        phone: "",
        creatorName:"",
        jenjang: "",
        jenjangDetail: "",
        year: "",
        identity: {
          placeOfBirth: "",
          dateOfBirth: "",
          nation: "",
          nik: "",
          address: "",
          posCode: "",
          province: "",
          city: "",
          district: "",
          village: "",
        },
        invoiceId: "",
        invoice: {
          lastInvoiceId: "",
          invoiceDate: "",
          invoiceYear: "",
          number: "",
          vaBank: "",
          vaNumber: "",
          vaName: "",
          title: "",
          expiredDate: "",
          amount: "",
          discount: "",
          paymentStatus: ""
        }
      },

      get_imageOption:{
        imagePasphoto : "",
        imageKk : "",
        imageIjazah : "",
        imageRaport : "",
      },
      
    };
  },
  beforeMount() {
    if (this.$route.query.id) {
      this.$axios
        .$get(`main_base/pendaftar/get_pendaftar/${this.$route.query.id}`)
        .then((response) => {
          
          (this.pipelineData = response.pipeline),

            (this.form.name = response.name),
            (this.form.phone = response.phone),
            (this.form.creatorName = response.creatorName),
            (this.form.jenjang = response.jenjang),
            (this.form.jenjangDetail = response.jenjangDetail),
            (this.form.year = response.year),
            (this.form.identity.placeOfBirth = response.identity.placeOfBirth),
            (this.form.identity.dateOfBirth = response.identity.dateOfBirth),
            (this.form.identity.address = response.identity.address),
            (this.form.identity.posCode = response.identity.posCode),
            (this.form.identity.nation = response.identity.nation),
            (this.form.identity.nik = response.identity.nik),
            (this.form.identity.province = response.identity.province),
            (this.form.identity.city = response.identity.city),
            (this.form.identity.district = response.identity.district),
            (this.form.identity.village = response.identity.village),
            (this.userId = response._id);

            (this.imagePasphoto = response.image.imagePasphoto),
            (this.imageIjazah = response.image.imageIjazah),
            (this.imageKk = response.image.imageKk),
            (this.imageRaport = response.image.imageRaport),

            (this.form.invoiceId = response.lastInvoiceId),

            this.loading = false;
            this.isDisable = false;

            (this.formAwal.name = response.name),
            (this.formAwal.phone = response.phone),
            (this.formAwal.creatorName = response.creatorName),
            (this.formAwal.jenjang = response.jenjang),
            (this.formAwal.jenjangDetail = response.jenjangDetail),
            (this.formAwal.email = response.email),
            (this.formAwal.identity.address = response.identity.address),
            (this.formAwal.identity.posCode = response.identity.posCode),
            (this.formAwal.invoice.lastInvoiceId = response.lastInvoiceId),
            (this.formAwal.status = response.status)   

            this.$axios
              .$get(`main_base/invoice/invoice/` + response.lastInvoiceId)
              .then((response) => {

                  (this.formAwal.invoice.invoiceDate = response.invoiceDate),
                  (this.formAwal.invoice.invoiceYear = response.invoiceYear),
                  (this.formAwal.invoice.number = response.number),
                  (this.formAwal.invoice.vaBank = response.vaBank),
                  (this.formAwal.invoice.vaNumber = response.vaNumber),
                  (this.formAwal.invoice.vaName = response.vaName),
                  (this.formAwal.invoice.title = response.title),
                  (this.formAwal.invoice.expiredDate = response.expiredDate),
                  (this.formAwal.invoice.amount = response.amount),
                  (this.formAwal.invoice.discount = response.discount),
                  (this.formAwal.invoice.paymentStatus = response.paymentStatus)

                  if(response.paymentStatus === "UNPAID"){
                    this.step = 2;
                  } else {
                    this.step = 3;
                  }
              })

        });
    }

    this.$axios
      .$get("main_base/pipeline/get_image_array_pipeline/PPDB")
      .then((response) => {
        console.log("ini get image option = "+ response.imagePasphoto, response.imageKk, response.imageIjazah, response.imageRaport);
        this.get_imageOption.imagePasphoto = response.imagePasphoto;
        this.get_imageOption.imageKk = response.imageKk;
        this.get_imageOption.imageIjazah = response.imageIjazah;
        this.get_imageOption.imageRaport = response.imageRaport;
    });
    

  },

   methods: {
    async handleSubmit() {
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          // if (!success) {
          //   return;
          // }

          if (this.$route.query.id) {
            this.$axios
              .$put(
                `main_base/pendaftar/update_pendaftar/${this.$route.query.id}`,
                this.form
              )
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/crm_ppdb/pendaftar");
              })
              .catch((e) => {
                this.$notify({
                  message: "Data Gagal Di Simpan",
                  timeout: 3500,
                  icon: "ni ni-fat-remove",
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$axios
              .$post(`main_base/pendaftar/admin_add_pendaftar`, this.form)
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/crm_ppdb/pendaftar");
              })
              .catch((e) => {});
          }
        });
      }
    },
  },
};

</script>