<template
  ><div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-3">
          <h6 class="h2 text-white d-inline-block mb-0">Data Pendaftar PPDB</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
        <div class="col-lg-9 text-right">
          <!-- <a
            v-bind:href="
              `${$axios.defaults.baseURL}main_base/pendaftar/download_excel/` +
                this.$store.state.user.company.companyId +
                `/data_pendaftar.xls`
            "
            target="_blank"
          >
            <base-button type="success" native-type="submit" class="btn-sm">
              Download Data Pendaftar
            </base-button>
          </a> -->

          <base-button native-type="submit" class="btn btn-info btn-sm" @click="downloadPendaftar()">
            Download Data Pendaftar
          </base-button>

          <base-button
            class="btn btn-neutral btn-sm"
            @click="openModalClassic()"
          >
            Upload Hasil Tes
          </base-button>

          <nuxt-link
            to="/crm_ppdb/pendaftar/daftar"
            class="btn btn-neutral btn-sm"
            >Tambah Akun Pendaftar</nuxt-link
          >

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.classic">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Upload File Excel Hasil Tes Pendaftar
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <form>
              <input
                name="file"
                type="file"
                id="file"
                ref="file"
                class="form-control"
                @change="changeFile()"
              />
              <a
                style="color: red; font-weight: 500; font-size: 13px"
                v-if="this.file === ''"
              >
                {{ this.errors1.file }}
              </a>
            </form>

            <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.classic = false"
                >Batal
              </base-button>
              <base-button type="primary" @click="postFileExcel()"
                >Upload
              </base-button>
            </template>
          </modal>

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.downloadModal">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Download Semua Pendaftar atau Download Berdasarkan Tahun
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <form>
              <base-input>
                <el-select
                  clearable
                  v-model="form.year"
                  placeholder="Pilih Tahun Ajaran/ Lulusan Tahun"
                >
                  <el-option
                    v-for="option in get_tahun_ajaran"
                    :key="option"
                    :label="option"
                    :value="option"
                  >
                  </el-option>
                </el-select>
              </base-input>
            </form>

            <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.downloadModal = false"
                >Batal
              </base-button>
                <a
                  v-bind:href="
                    `${$axios.defaults.baseURL}main_base/pendaftar/download_excel/` +
                      this.$store.state.user.company.companyId +
                      `/data_pendaftar.xls?year=` + this.form.year
                  "
                  target="_blank"
                >
                  <base-button type="primary" native-type="submit" v-if="form.year != ''">
                    Download Sesuai Tahun
                  </base-button>
                </a>
                <a
                  v-bind:href="
                    `${$axios.defaults.baseURL}main_base/pendaftar/download_excel/` +
                      this.$store.state.user.company.companyId +
                      `/data_pendaftar.xls`
                  "
                  target="_blank"
                >
                  <base-button type="primary" native-type="submit" v-if="form.year === ''">
                    Download Semua Pendaftar
                  </base-button>
                </a>
            </template>
          </modal>

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.upload">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <center>
                  <b> Update Hasil Tes Pendaftar</b> <br />
                  "{{ form.name }}"
                </center>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation">
                <div class="col-md-12">
                  <!-- <div class="form-group row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Nominal</label
                    >
                    <div class="col-md-8">
                      <base-input
                        name="amount"
                        placeholder="Masukkan Nominal"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.amount"
                        type="number"
                      ></base-input>
                      Nominal = Rp. {{ formatPrice(form.amount) }}
                    </div>
                  </div> -->

                  <div class="form-group row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Status</label
                    >
                    <div class="col-md-8">
                      <base-input>
                        <el-select
                          v-model="form.status"
                          rules="required"
                          placeholder="Pilih Status"
                        >
                          <el-option
                            v-for="option in GET_STATUS"
                            :key="option.label"
                            :label="option.label"
                            :value="option.value"
                          >
                          </el-option>
                        </el-select>
                      </base-input>

                    </div>
                  </div>

                  <br />
                </div>

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="modals.upload = false"
                  >Batal</base-button
                >
                <base-button type="primary" @click="submitUploadHasil()"
                  >Submit</base-button
                >
              </form>
            </validation-observer>
          </modal>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data Pendaftar</h3>
          </template>

          <!-- Column Seaching -->
          <div class="row mt--3 mb--2">
            <!-- search name -->
            <div class="col-2">
              <div>
                <base-input
                  v-model="name"
                  placeholder="Cari Nama"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <!-- search jenjang -->
            <div class="col-2">
              <!-- <div>
                <base-input
                  v-model="jenjang"
                  placeholder="Cari Jenjang"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div> -->
            </div>

            <!-- search jenjangDetail -->
            <div class="col-3">
              <!-- <div>
                <base-input
                  v-model="jenjangDetail"
                  placeholder="Jenjang Detail"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div> -->
            </div>

            <!-- search status -->
            <div class="col-3">
              <el-select
                clearable
                class="select-primary pagination-select"
                v-model="status"
                placeholder="Cari Status"
                @change="changePageSize()"
              >
                <el-option
                  v-for="option in CARISTATUS"
                  :key="option.label"
                  :label="option.label"
                  :value="option.value"
                >
                </el-option>
              </el-select>
            </div>

            <!-- Select Size Page -->
            <div class="col-2">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                width="100%"
              >
                <thead>
                  <tr style="background-color: #f6f9fc">
                    <th>Nama Pendaftar</th>
                    <th>Jenjang</th>
                    <th>Tahun Ajaran/ Lulusan Tahun</th>
                    <th>Status Pendaftaran</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" :key="index">
                    <td>{{ item.name }}</td>
                    <td>{{ item.jenjang }} - {{ item.jenjangDetail }}</td>
                    <td>{{ item.year }}</td>
                    <td>
                      <div v-if="item.status === 'PROSES'">
                        <div>
                          <base-button type="info" class="btn btn-sm">
                            PROSES
                          </base-button>
                        </div>
                      </div>
                      <div v-if="item.status === 'TERIMA'">
                        <div>
                          <base-button type="success" class="btn btn-sm">
                            LULUS
                          </base-button>
                        </div>
                      </div>
                      <div v-if="item.status === 'TOLAK'">
                        <div>
                          <base-button type="danger" class="btn btn-sm">
                            TIDAK LULUS
                          </base-button>
                        </div>
                      </div>
                      <div v-if="item.status === 'TUNGGU'">
                        <div>
                          <base-button type="warning" class="btn btn-sm">
                            CADANGAN
                          </base-button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <el-tooltip content="Update Hasil Tes" placement="top">
                        <base-button
                          @click="uploadHasilModal(index, item)"
                          size="sm"
                          type="primary"
                        >
                          <i class="text-white ni ni-cloud-upload-96"></i>
                        </base-button>
                      </el-tooltip>

                      <!-- edit data -->
                      <!-- <nuxt-link
                        :to="`/crm_ppdb/pendaftar/daftar?id=` + item._id"
                      >
                        <el-tooltip content="Edit" placement="top">
                          <base-button size="sm" type="warning">
                            <i class="text-white icon-pencil"></i>
                          </base-button>
                        </el-tooltip>
                      </nuxt-link>

                      &nbsp;&nbsp; -->

                      <!-- Detail data -->
                      <nuxt-link
                        :to="`/crm_ppdb/pendaftar/detail?id=` + item._id"
                      >
                        <el-tooltip content="Detail Pendaftar" placement="top">
                          <base-button size="sm" type="info">
                            <i class="text-white ni ni-circle-08"></i>
                          </base-button>
                        </el-tooltip>
                      </nuxt-link>

                      &nbsp;&nbsp;

                      <!-- hapus data -->

                      <!-- <el-tooltip content="Hapus" placement="top">
                        <base-button 
                            @click.native="handleDelete(index, item)"
                            size="sm" 
                            type="danger" 
                            class="remove btn-link"
                        >
                            <i class="text-white icon-trash"></i>
                        </base-button> 
                        </el-tooltip> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  class="page-link"
                  @click="changePage(item)"
                  v-if="Math.abs(item - paging.page) <= 2"
                  >{{ item }}</a
                >
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
export default {
  components: {
    // BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      form: {
        amount: 0,
        status: "",
        year: ""
      },
      errors1: {
        status: "",
      },
      name: "",
      jenjang: "",
      jenjangDetail: "",
      status: "",
      CARISTATUS: [
        {
          label: "LULUS",
          value: "TERIMA",
        },
        {
          label: "TIDAK LULUS",
          value: "TOLAK",
        },
      ],
      GET_STATUS: [
        {
          label: "LULUS",
          value: "TERIMA",
        },
        {
          label: "TIDAK LULUS",
          value: "TOLAK",
        },
      ],
      get_tahun_ajaran: [
        "2022", "2023", "2024"
      ],
      tableData: [],
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },

      modals: {
        classic: false,
        upload: false,
        downloadModal: false,
      },

      errors1: {
        file: "",
      },

      file: "",
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      // search column
      let search = [];
      if (this.name) {
        search.push({ field: "name", key: this.name });
      } else if (this.jenjang) {
        search.push({ field: "jenjang", key: this.jenjang });
      } else if (this.jenjangDetail) {
        search.push({ field: "jenjangDetail", key: this.jenjangDetail });
      } else if (this.status) {
        search.push({ field: "status", key: this.status });
      }

      let loader = this.$loading.show(); // manggil loading

      this.$axios
        .$post(
          "main_base/pendaftar/get_all_pendaftar" +
            "?size=" +
            size +
            "&page=" +
            page,
          { search }
        )
        .then((response) => {
          loader.hide(); // hide loading

          this.tableData = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        })
        .catch((e) => {
          loader.hide(); // hide loading
        });
    },
    handleDelete(index, row) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data yang terhapus tidak dapat dikembalikan !`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Ya, Hapus Data !",
          cancelButtonText: "Batal",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },
    deleteRow(row) {
      this.$axios
        .$delete("main_base/pendaftar/delete_pendaftar/" + row._id)
        .then((user) => {
          this.$notify({
            message: `Data ${row.name} Telah Berhasil Terhapus`,
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })
        .catch((error) => {
          this.$notify({
            message: `Data ${row.name} Gagal Terhapus`,
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        });
    },

    openModalClassic() {
      this.modals.classic = true;
    },

    downloadPendaftar(){
      this.modals.downloadModal = true;
    },

    changeFile() {
      this.file = this.$refs.file.files[0];
    },

    postFileExcel() {
      let loader = this.$loading.show(); // manggil loading
      if (this.file === "") {
        this.errors1.file = "File Excel Belum Diupload";
        loader.hide(); // hide loading

        this.$notify({
          message: "Data Belum Lengkap",
          timeout: 3500,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
      } else {
        let formData = new FormData();
        formData.append("file", this.file);
        this.$axios
          .$post("/main_base/pendaftar/uploadHasilTest", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
              "Access-Control-Allow-Origin": "*",
            },
          })
          .then((response) => {
            loader.hide(); // hide loading

            this.$notify({
              message: "Upload Hasil Tes Telah Berhasil Disimpan",
              timeout: 3500,
              icon: "ni ni-check-bold",
              type: "success",
            });
            this.getDatas(this.paging.size, this.paging.page);
          })
          .catch((e) => {
            loader.hide(); // hide loading

            this.$notify({
              message: "Upload Hasil Tes Gagal Disimpan",
              timeout: 3500,
              icon: "ni ni-fat-remove",
              type: "danger",
            });

            this.modals.upload = false;

            this.getDatas(this.paging.size, this.paging.page);
          });
      }
    },

    uploadHasilModal(index, item) {
      this.modals.upload = true;
      this.form.name = item.name;
      this.form._id = item._id;
    },

    submitUploadHasil() {
      let loader = this.$loading.show(); // manggil loading

      if (this.form.status === "") {
        loader.hide(); // hide loading

        this.$notify({
          message: "Status Belum Dipilih",
          timeout: 3500,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
      } else {
        this.$axios
          .$put(
            `main_base/pendaftar/update_hasil_test/` +
              this.form._id +
              "/" +
              this.form.amount +
              "/" +
              this.form.status,
            this.form
          )
          .then((response) => {
            loader.hide(); // hide loading
            this.$notify({
              message: "Update Hasil Tes Berhasil",
              timeout: 3500,
              icon: "ni ni-check-bold",
              type: "success",
            });
            this.getDatas(this.paging.size, this.paging.page);
            this.modals.upload = false;
          })
          .catch((e) => {
            loader.hide(); // hide loading
            this.$notify({
              message: "Gagal Update Hasil Tes",
              timeout: 3500,
              icon: "ni ni-fat-remove",
              type: "danger",
            });
            this.getDatas(this.paging.size, this.paging.page);
            this.modals.upload = false;
          });
      }
    },

    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },

    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
