<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"> Setting Invoice </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link
            to="/transaction/settingInvoice"
            class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Setting Invoice</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="firstSubmit">
                  <div class="row">
                    <div class="col-md-12">

                      <div class="form-group row">
                        <label
                          class="col-md-4 col-form-label form-control-label"
                          >Judul Invoice <span style="color:red">*</span>
                        </label>
                        <div class="col-md-6">
                          <base-input rules="required">
                            <el-select
                              v-model="form.pipelineName"
                              filterable
                              clearable
                              placeholder="Silahkan Pilih"
                            >
                              <el-option
                                v-for="option in GET_PIPELINE"
                                :key="option"
                                :label="option"
                                :value="option"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-4 col-form-label form-control-label"
                          >Biaya Invoice <span style="color:red">*</span>
                        </label>
                        <div class="col-md-6">
                          <base-input
                            name="defaultPrice"
                            placeholder="Masukkan Biaya"
                            rules="required"
                            type="number"
                            v-model="form.defaultPrice"
                          ></base-input>

                          Biaya = Rp. {{ formatPrice(form.defaultPrice) }}
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-4 col-form-label form-control-label"
                          >Lama Waktu Jatuh Tempo <span style="color:red">*</span> <br>
                              <i style="color: red; font-size: 12px;">
                                * Waktu Dalam Hari
                              </i>  
                        </label>

                        <div class="col-md-6">
                          <base-input
                            name="expiredInDays"
                            placeholder="Masukkan Lama Waktu Jatuh Tempo"
                            rules="required"
                            type="number"
                            v-model="form.expiredInDays"
                          ></base-input>

                          Lama = {{ form.expiredInDays }} Hari
                        </div>

                      </div>

                    </div>
                  </div>

                  <div class="row"> 
                    <div class="col-md-7"></div>
                    
                    <div class="col-md-5">
                      <nuxt-link
                        class="btn btn-warning"
                        to="/transaction/settingInvoice"
                        >Batal</nuxt-link
                      >

                      <base-button type="primary" native-type="submit"
                        >Simpan</base-button
                      >
                    </div>
                  </div>

                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import { json } from "d3";

export default {
  name: "DataAkunForm",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    flatPicker,
  },
  data() {
    return {
      get_jenjangOption: [],

      GET_PIPELINE: [],
      form: {
        pipelineName: "",
        processNumber: 0,
        defaultPrice: "",
        expiredInDays: "",
        option: "",
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    if (this.$route.query.id) {
      this.$axios
        .$get(`main_base/invsetting/invsetting/${this.$route.query.id}`)
        .then((response) => {
          this.form.pipelineName = response.pipelineName;
          this.form.processNumber = response.processNumber;
          this.form.defaultPrice = response.defaultPrice;
          this.form.expiredInDays = response.expiredInDays;
          this.form.option = response.option;
        });
    }

    this.$axios
      .$get("main_base/pipeline/get_title_pipeline")
      .then((response) => {
        this.GET_PIPELINE = response;
        console.log(response);
      });

    this.$axios
      .$get("main_base/pipeline/get_option_pipeline/PPDB")
      .then((response) => {
        console.log("ini get jenjang option = "+ response);
        this.get_jenjangOption = response;
    });

  },

  methods: {

    formatPrice(value) {
        let val = ((value/1)).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
   
    async firstSubmit() {
      this.disabledSubmitButton = true;
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          if (!success) {
            this.$notify({
              message:
                'Data Belum Lengkap',
              timeout: 3500,
              icon: 'ni ni-fat-remove',
              type: "danger",
            }); 
          }
          if (this.$route.query.id) {
            this.$axios
              .$put(
                `main_base/invsetting/invsetting/${this.$route.query.id}`,
                this.form
              )
              .then((response) => {
                this.$notify({
                  message:
                    'Data Telah Berhasil Diubah',
                  timeout: 3500,
                  icon: 'ni ni-check-bold',
                  type: "success",
                });
                this.$router.push("/transaction/settingInvoice");
              })
              .catch((e) => {
                this.$notify({
                  message:
                    'Data Gagal Update',
                  timeout: 3500,
                  icon: 'ni ni-fat-remove',
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$axios
              .$post(`main_base/invsetting/invsetting`, this.form)
              .then((response) => {
                this.$notify({
                  message:
                    'Data Telah Berhasil Tersimpan',
                  timeout: 3500,
                  icon: 'ni ni-check-bold',
                  type: "success",
                });
                this.$router.push("/transaction/settingInvoice");
              })
              .catch((e) => {
                this.$notify({
                  message:
                    'Data Gagal Tersimpan',
                  timeout: 3500,
                  icon: 'ni ni-fat-remove',
                  type: "danger",
                }); 
                this.disabledSubmitButton = false;
              });
          }
        });
      }
    },
  },
};
</script>
