<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Template Pipeline</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link
            to="/admin_server/crm_pipeline/form"
            class="btn btn-neutral btn-sm"
            >Tambah Data</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Template Pipeline</h3>
            <p class="text-sm mb-0">Manajemen Template Pipeline</p>
          </template>
          <div>
            <!-- Column Seaching -->
            <div class="row mt--3 mb-2">
              <div class="col-2"></div>
              <!-- search title -->
              <div class="col-2">
                <div>
                  <base-input
                    v-model="title"
                    placeholder="Cari Nama Pipeline"
                    @keyup="changePageSize(e)"
                  >
                  </base-input>
                </div>
              </div>

              <!-- search  -->
              <div class="col-6"></div>

              <!-- Select Size Page -->
              <div class="col-2">
                <el-select
                  class="select-primary pagination-select"
                  v-model="paging.size"
                  placeholder="Per page"
                  @change="changePageSize()"
                >
                  <el-option
                    class="select-primary"
                    v-for="item in paging.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                  ></el-option>
                </el-select>
              </div>
            </div>

            <el-table
              class="mt--3"
              :data="tableData"
              row-key="id"
              header-row-class-name="thead-light"
            >
              <!-- @sort-change="sortChange" -->
              <!-- @selection-change="selectionChange" -->
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              ></el-table-column>
              <el-table-column min-width="200px" align="right" label="Actions">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <nuxt-link
                    :to="`/admin_server/crm_pipeline/form?id=` + row._id"
                  >
                    <el-tooltip content="Edit" placement="top">
                      <base-button size="sm" type="warning">
                        <i class="text-white icon-pencil"></i>
                      </base-button>
                    </el-tooltip> </nuxt-link
                  >&nbsp;&nbsp;

                  <el-tooltip content="Hapus" placement="top">
                    <base-button
                      @click.native="handleDelete($index, row)"
                      size="sm"
                      type="danger"
                      class="remove btn-link"
                    >
                      <i class="text-white icon-trash"></i>
                    </base-button>
                  </el-tooltip>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
                <span v-if="selectedRows.length"
                  >&nbsp; &nbsp; {{ selectedRows.length }} rows selected</span
                >
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  class="page-link"
                  @click="changePage(item)"
                  v-if="Math.abs(item - paging.page) <= 2"
                  >{{ item }}</a
                >
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
// import { BasePagination } from "@/components/argon-core";
// import clientPaginationMixin from "~/components/tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";

// import moment from 'moment'

export default {
  //   mixins: [clientPaginationMixin],
  // layout: "DashboardLayout",

  filters: {
    createTime(val) {
      // return this.$moment(val, "YYYY-MM-DD").fromNow();
      return this.$moment(val, "YYYY-MM-DD")();
    },
  },

  components: {
    // BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      pipelineData: [],
      propsToSearch: ["createTime", "creatorName", "title ", "note"],
      tableColumns: [
        {
          prop: "creatorName",
          label: "Nama",
          minWidth: 160,
          sortable: true,
        },
        {
          prop: "title",
          label: "Nama Pipeline",
          minWidth: 200,
          sortable: true,
        },
        {
          prop: "note",
          label: "Keterangan",
          minWidth: 260,
          sortable: true,
        },
      ],
      tableData: [],
      tableInfo: {},
      title: "",
      selectedRows: [],
      url: "main_base/pipeline/get_pipeline",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      let search = [];

      if (this.title) {
        search.push({ field: "title", key: this.title });
      }

      this.$axios
        .$post(this.url + "?size=" + size + "&page=" + page, { search })
        // .$get(this.url + "?size=" + size + "&page=" + page, { search: [] })
        .then((response) => {
          // this.tableData = response;
          this.tableData = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
    handleDelete(index, row) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data yang dihapus tidak dapat dikembalikan`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Hapus",
          cancelButtonText: "Batal",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },
    deleteRow(row) {
      this.$axios
        .$delete(`main_base/pipeline/pipeline/` + row._id)
        .then((user) => {

          this.$notify({
            message:
              'Data Telah Berhasil Dihapus',
            timeout: 3500,
            icon: 'ni ni-check-bold',
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })

        .catch((error) => {

          this.$notify({
            message:
              'Data Gagal Terhapus',
            timeout: 3500,
            icon: 'ni ni-fat-remove',
            type: "danger",
          });
        });
    },

    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
