<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Ekstrakulikuler</h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_excul" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
       <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <h3 slot="header" class="mb-0">Tambah Data</h3>
              <validation-observer ref="form">
              
              <form class="needs-validation" @submit.prevent="exculSubmit">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Nama</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Nama"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Hari</label
                      >
                      <div class="col-md-5">
                        <base-input>
                          <el-select
                            v-model="form.day"
                            placeholder="Pilih Hari"
                            rules="required"
                          >
                            <el-option
                              v-for="option in tipeOptions"
                              :key="option.label"
                              :label="option.label"
                              :value="option.value"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Jam</label
                      >
                      <div class="col-md-7">
                        <base-input
                          type="time"
                          v-model="form.subtitle"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tags</label>
                      <div class="col-md-7">
                        <tags-input 
                        v-model="form.tags">
                        </tags-input>
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Image</label
                      >
                      <div class="col-md-7">
                        <dropzone-file-upload
                          v-model="image"
                          ref="image"
                          type="file"
                          @change="uploadImage"
                        ></dropzone-file-upload>
                      </div>
                    </div> -->
                    
                  </div>
                  <br />

                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button>
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_excul"
                    >Batal</nuxt-link>
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
       </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import { VueEditor } from "vue2-editor";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";
import HtmlEditor from "@/components/argon-core/Inputs/HtmlEditor";
import BaseSlider from "@/components/argon-core/BaseSlider";

export default {

  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
    DropzoneFileUpload,
    HtmlEditor,
  },

  data() {
    return {
      tipeOptions: [
        {
          label: "Sunday",
          value: "Sunday",
        },
        {
          label: "Monday",
          value: "Monday",
        },
        {
          label: "Tuesday",
          value: "Tuesday",
        },
        {
          label: "Wednesday",
          value: "Wednesday",
        },
        {
          label: "Thursday",
          value: "Thursday",
        },
        {
          label: "Friday",
          value: "Friday",
        },
        {
          label: "Saturday",
          value: "Saturday",
        },
      ],
      validated: false,
      form: {
        title: "",
        day: "",
        subtitle:"",
        tags: [],
        // imageUrl: "",
        // time:"",
        // note: "",
        // description: "",
      },
      // image: "",
      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
  },
  methods: {
    // uploadImage() {
    //   console.log(this.image);
    //   const formData = new FormData();
    //   for (var i = 0; i < this.image.length; i++) {
    //     let file = this.image[i];
    //     formData.append("file", file);
    //   }
    //   const allowTypes = ["image/jpeg", "image/jpg", "image/png"];
    //   let image = this.$refs.image.files[0];

    //   if (image.size > 5 * 1024 * 1024) {
    //     swal.fire({
    //           icon: 'error',
    //           title: "Maaf Ukuran File Terlalu Besar!",
    //           text: 'Ukuran File Harus dibawah 5 Mb!',
    //           type: "failed",
    //           confirmButtonClass: "btn btn-danger btn-fill",
    //           buttonsStyling: false,
    //         });
    //         this.$refs.image.files = [];
    //       } else {

    //       if (!allowTypes.includes(image.type)) {
    //           swal.fire({
    //             title: "File Bukan Image, Harap Masukan File Image!",
    //             type: "failed",
    //             confirmButtonClass: "btn btn-danger btn-fill",
    //             buttonsStyling: false,
    //              });
    //               this.$refs.image.files = [];
    //       } else {
    //           this.$axios
    //             .$post(`/main_base/image/upload_image`, formData, {
    //               headers: {
    //                 "Content-Type": "multipart/form-data",
    //               },
    //             })
    //             .then((response) => {
    //               console.log(response.name);
    //               this.form.imageUrl = response.name;
    //             });
    //       }
    //   }
    // },

    async exculSubmit() {
     console.log(this.doSubmit);
        await this.$refs.form.validate().then((success) => {
          if (!success) {
            return;
          }
            this.$axios
              .$post(`main_web/web_excul/excul`, this.form)
              .then((response) => {
                // swal.fire({
                //   title: `Berhasil`,
                //   text: "Berita Berhasil Di Publish",
                //   buttonsStyling: false,
                //   confirmButtonClass: "btn btn-success",
                //   type: "success",
                // });
              this.$notify({
                message:'Data Telah Berhasil Disimpan',
                timeout: 3500,
                icon: 'ni ni-check-bold',
                type: "success",
              });
                this.$router.push("/website/website_excul");
              })
              .catch((e) => {});
          });
        } 
  },
};
</script>
