<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Weekly</h6>
        </div>
		    <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_weekly" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="weekSubmit">
                  <div class="col-md-12">
                    
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label">
                        Kegiatan
                      </label>
                      <div class="col-md-7">
                        <base-input>
                          <textarea
                            v-model="form.subtitle"
                            class="form-control"
                            placeholder="Kegiatan"
                            rows="3">
                          </textarea>
                        </base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tanggal</label
                      >
                      <div class="col-md-7">
                        <base-input
                          type="date"
                          name="dateStart"
                          placeholder="dateStart"
                          success-message="Looks good!"
                          v-model="form.dateStart"
                          required
                          pattern="\d{4}-\d{2}-\d{2}"
                          value="yyyy-mm-dd"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tags</label>
                      <div class="col-md-7">
                        <tags-input 
                        v-model="form.tags">
                        </tags-input>
                      </div>
                    </div>
                  </div>

                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_weekly"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";


import { VueEditor } from "vue2-editor";

export default {
 
  components: {
    TagsInput,
    DropzoneFileUpload,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
  },

  data() {
    return {
      validated: false,
      form: {
        title: "",
        subtitle: "",
        dateStart: "",
        tags: [],
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
  },
  methods: {
  
    async weekSubmit() {
      if (this.doSubmit) {
        console.log(this.doSubmit);
        await this.$refs.form.validate().then((success) => {
          if (!success) {
            return;
          }
          // let timePlan=this.form.timePlan.split('T')
          // this.form.timePlan= [timePlan[0],timePlan[1]].join(' ')
          this.$axios
            .$post(`main_web/web_weekly/weekly`, this.form)
            .then((response) => {
              this.$notify({
                message:'Data Telah Berhasil Disimpan',
                timeout: 3500,
                icon: 'ni ni-check-bold',
                type: "success",
              });
              this.$router.push("/website/website_weekly");
            })
            .catch((e) => {});
        });
      }
    },
  },
};
</script>
