<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data News</h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
         
          <nuxt-link
            to="/website/website_news/add"
            class="btn btn-neutral btn-sm">
            Tambah Data
          </nuxt-link>
         
        </div>
      </div>
    </base-header>
 
     <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data News</h3>
          </template>
          <!-- Seaching -->
          <div class="row mt--3 mb--2">
            <div class="col-2 ml-3">
              <div>
                <base-input
                  v-model="title"
                  placeholder="Cari Judul"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <div class="col-2 ml-5">
              <div>
                <base-input
                  v-model="tags"
                  placeholder="Cari Tags"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <!-- <div class="col-2 ml-6">
              <div>
                <base-input
                  v-model="tags"
                  placeholder="Cari Tags"
                  @keyup="changePageSize(e)"
                >
                </base-input>
              </div>
            </div> -->

            <!-- search  -->
            <div class="col-5"></div>

            <!-- Select Size Page -->
            <div class="col-2 ml--4">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                width="100%">
                <thead>
                  <tr style="background-color: #f6f9fc">
                    <th>Judul</th>
                    <th>Deskripsi</th>
                    <th>Tags</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" :key="index">
                    <td>{{ item.title.substr(0, 30) }}</td>
                    <td v-html="item.description.substr(0, 50)"></td>
                    <td>{{ item.tags }}</td>
                    <td>
                      <!-- edit data -->
                      <nuxt-link
                        :to="{
                          name: 'website-website_news-edit',
                          params: { id: item._id },
                        }"
                      >
                        <el-tooltip content="Edit" placement="top">
                          <base-button size="sm" type="warning">
                            <i class="text-white icon-pencil"></i>
                          </base-button>
                        </el-tooltip>
                      </nuxt-link>

                      &nbsp;&nbsp;

                      <el-tooltip content="Hapus" placement="top">
                        <base-button
                          @click.native="handleDelete(index, item)"
                          size="sm"
                          type="danger"
                          class="remove btn-link"
                        >
                          <i class="text-white icon-trash"></i>
                        </base-button>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
                <span v-if="selectedRows.length"
                  >&nbsp; &nbsp; {{ selectedRows.length }} rows selected</span
                >
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a class="page-link" @click="changePage(item)">{{ item }}</a>
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </card>
      </div>
    </div>

  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import { VueEditor } from "vue2-editor";

export default {
  components: {
    VueEditor,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      tableData: [],
      tableInfo: {},
      title: "",
      tags:"",
      selectedRows: [],
      companyCode: localStorage.getItem("user")
        ? JSON.parse(localStorage.getItem("user")).company.id
        : "",
      url: `main_web/web_news/get_news/`,
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      let search = [];
      if (this.title) {
        search.push({ field: "title", key: this.title });
      } else if(this.tags){
        search.push({ field: "tags", key: this.tags });
      }
      this.$axios
        .$post(this.url + this.companyCode + "?size=" + size + "&page=" + page,{ search })
        .then((response) => {
          this.tableData = response.content;
          this.isPost = response.content.isPost;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
    handleDelete(index, row) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data Yang Telah Dihapus Tidak Dapat Dikembalikan !`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Ya, Hapus !",
          cancelButtonText: "Batal !",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },
    deleteRow(row) {
      this.$axios
        .$delete(`main_web/web_news/news/` + row._id)
        .then((user) => {
          // swal.fire({
          //   title: "Berhasil!",
          //   text: `Data Berhasil Dihapus.`,
          //   type: "success",
          //   confirmButtonClass: "btn btn-success btn-fill",
          //   buttonsStyling: false,
          // });
          this.$notify({
            message:'Data Telah Berhasil Dihapus',
            timeout: 3500,
            icon: 'ni ni-check-bold',
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })

        .catch((error) => {
          // swal.fire({
          //   title: "Gagal!",
          //   text: `Gagal Menghapus Data`,
          //   type: "failed",
          //   confirmButtonClass: "btn btn-danger btn-fill",
          //   buttonsStyling: false,
          // });
          this.$notify({
            message:'Gagal Menghapus Data',
            timeout: 3500,
            icon: 'ni ni-fat-remove',
            type: "danger",
        });
        });
    },

    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
