<template
  ><div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Kategori Produk</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button
            class="btn btn-neutral btn-sm"
            @click="tambahKategori()"
          >
            Tambah Kategori Produk
          </base-button>

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.classic">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Tambah Kategori Produk
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation" @submit.prevent="submitKategori()">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Nama Kategori</label
                    >
                    <div class="col-md-8">
                      <base-input
                        name="tag_name"
                        placeholder="Nama Kategori"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.tag_name"
                      ></base-input>
                    </div>
                  </div>

                  <br />
                </div>

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="batal()"
                  >Batal</base-button
                >
                <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
              </form>
            </validation-observer>
          </modal>

          <!-- edit -->
          <modal backdrop="static" :show.sync="modals.edit">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Update Kategori Produk
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Nama Kategori</label
                    >
                    <div class="col-md-8">
                      <base-input
                        name="tag_name"
                        placeholder="Nama Kategori"
                        success-message="Looks good!"
                        rules="required"
                        v-model="form.tag_name"
                      ></base-input>
                    </div>
                  </div>

                  <br />
                </div>

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="batalEdit()"
                  >Batal</base-button
                >
                <base-button type="primary" @click="editKategori()"
                  >Update</base-button
                >
              </form>
            </validation-observer>
          </modal>


          <!-- upload -->
          <modal backdrop="static" :show.sync="modals.upload">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Update Gambar Kategori Produk
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation">
                <div class="col-md-12">
                  <!-- <a v-if="fileImage === ''">
                    <dropzone-file-upload
                      v-model="fileImage"
                      ref="fileImage"
                      type="file"
                      @change="uploadImage()"
                    ></dropzone-file-upload>
                  </a>   -->
                  
                  <!-- <a v-else-if="fileImage === null"> -->
                    <dropzone-file-upload
                      v-model="fileImage"
                      ref="fileImage"
                      type="file"
                      @change="uploadImage()"
                    ></dropzone-file-upload>
                  <!-- </a> -->

                  <!-- jika image ada isinya (tidak kosong) maka akan tampil image nya -->
                  <!-- <a v-else>
                    <img
                      class="card-img-top"
                      :src="
                        `${$axios.defaults.baseURL}main_base/image/get/${fileImage}/pas`
                      "
                      alt=""
                    /> -->

                    <!-- <a>
                      <base-button
                        type="primary"
                        class="btn btn-sm btn-primary float-right"
                        @click="modals.uploadProduk = true"
                        block
                      >
                        Update Gambar
                      </base-button>
                    </a> -->
                  <!-- </a> -->
                </div>

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="batalUpload()"
                  >Batal</base-button
                >
                <base-button type="primary" @click="editKategoriImage()"
                  >Update</base-button
                >
              </form>
            </validation-observer>
          </modal>

        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Manajemen Kategori Produk</h3>
          </template>

          <!-- Column Seaching -->
          <div class="row mt--3 mb-2">
            <!-- search user -->
            <div class="col-3"></div>
            <!-- search  -->
            <div class="col-7"></div>

            <!-- Select Size Page -->
            <div class="col-2">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                width="100%"
              >
                <thead>
                  <tr style="background-color: #f6f9fc">
                    <th>Gambar Kategori</th>
                    <th>Kategori Produk</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" :key="index">

                    <td>
                      <a v-if="item.image === '' || item.image === null || item.image === 'undefined'">
                          <img :src="'/no-product.png'" alt="" width="80px" height="80px" />
                      </a> 
                      <a v-else>
                        <img
                          class="card-img-top imageKategori"
                          :src="
                            `${$axios.defaults.baseURL}main_base/image/get/` + item.image +`/pas`
                          "
                        />
                        
                      </a>
                    </td>

                    <td>
                      {{ item.tag }}
                    </td>

                    <td>
                      <el-tooltip content="Upload Image" placement="top">
                        <base-button
                          @click="uploadImageModal(index, item)"
                          size="sm"
                          type="info"
                        >
                          <i class="text-white ni ni-image"></i>
                        </base-button>
                      </el-tooltip>

                      &nbsp; &nbsp;

                      <el-tooltip content="Edit" placement="top">
                        <base-button
                          @click="editKategoriModal(index, item)"
                          size="sm"
                          type="warning"
                        >
                          <i class="text-white icon-pencil"></i>
                        </base-button>
                      </el-tooltip>

                      &nbsp; &nbsp;

                      <el-tooltip content="Hapus" placement="top">
                        <base-button
                          @click.native="handleDelete(index, item)"
                          size="sm"
                          type="danger"
                          class="remove btn-link"
                        >
                          <i class="text-white icon-trash"></i>
                        </base-button>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a class="page-link" @click="changePage(item)">{{ item }}</a>
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul></div
        ></card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";
export default {
  components: {
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    DropzoneFileUpload,
  },
  data() {
    return {
      fileImage: "",
      modals: {
        classic: false,
        edit: false,
        image: false,
      },
      icon: "",
      form: {
        tag_name: "",
        image_url: "",
      },
      form2:{
        image_url: "",
      },
      tableData: [],
      url: "main_store/product/get_tag",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas();
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas() {
      this.$axios
        .$get(this.url)
        .then((response) => {
          this.tableData = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },

    tambahKategori() {
      this.modals.classic = true;
    },

    submitKategori() {
      
          this.$refs.form.validate().then((success) => {
            if (!success) {
              this.$notify({
                message: "Data Belum Lengkap",
                timeout: 4000,
                icon: "ni ni-fat-remove",
                type: "danger",
              });
              return;
            }
            
            this.$axios
              .$post(`main_store/product/add_tag?tag_name=` + this.form.tag_name + `&image_url=` + this.form.image_url)
              .then((response) => {

                this.$notify({
                  message:
                    'Data Telah Berhasil Disimpan',
                  timeout: 2500,
                  icon: 'ni ni-check-bold',
                  type: "success",
                });
                this.getDatas(this.paging.size, this.paging.page);
                this.icon = "",
                this.form.image_url = "",
                this.form.tag_name = "",
                this.modals.classic = false
              })
              .catch((e) => {

              });
          });     
    },

    editKategoriModal(index, item) {
      this.modals.edit = true;
      this.form.image_url = item.image;
      this.form.tag_name = item.tag;
      this.form.id_tag = item.id_tag;
    },

    uploadImageModal(index, item) {
      this.modals.upload = true;
      this.form.image_url = item.image;
      this.form.tag_name = item.tag;
      this.form.id_tag = item.id_tag;
    },

    uploadImage() {
      let loader = this.$loading.show();

      const formData = new FormData();

      for (var i = 0; i < this.fileImage.length; i++) {
        let file = this.fileImage[i];
        formData.append("file", file);
      }

      this.fileImage = this.$refs.fileImage.files[0];

      this.$axios
        .$post(`/main_base/image/upload_image`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })

        .then((response) => {
          this.form2.image_url = response.name;
          this.fileImage = response.name;
          loader.hide(); // hide loading
        })
        .catch(() => {
          this.$notify({
            message: "Gagal Upload Gambar",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
            loader.hide(); // hide loading
        });
    },

    editKategori() {
      this.$axios
        .$put(`main_store/product/update_tag_by_id?id_tag=` + this.form.id_tag + `&tag_name=` + this.form.tag_name + `&image_url=` + this.form.image_url)
        .then((response) => {
          this.$notify({
            message: "Data Telah Berhasil Diupdate",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
          this.modals.edit = false;
        })
        .catch((e) => {});
    },

    editKategoriImage() {
      this.$axios
        .$put(`main_store/product/update_tag_by_id?id_tag=` + this.form.id_tag + `&tag_name=` + this.form.tag_name + `&image_url=` + this.form2.image_url)
        .then((response) => {
          this.$notify({
            message: "Gambar Kategori Berhasil Diupdate",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
          this.modals.upload = false;
        })
        .catch((e) => {});
    },

    handleDelete(index, item) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data Yang Telah Dihapus Tidak Dapat Dikembalikan !`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Ya, Hapus !",
          cancelButtonText: "Batal",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(item);
          }
        });
    },
    deleteRow(item) {
      this.$axios
        .$delete("/main_store/product/delete_tag_by_id?id_tag=" + item.id_tag)
        .then((user) => {
          this.$notify({
            message: "Data Telah Berhasil Dihapus",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })
        .catch((error) => {
          this.$notify({
            message: "Gagal Menghapus Data",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        });
    },

    batal(){
      this.icon = "",
      this.form.image_url = "",
      this.form.tag_name = "",
      this.modals.classic = false
    },
    batalEdit(){
      this.icon = "",
      this.form.image_url = "",
      this.form.tag_name = "",
      this.modals.edit = false
    },
    batalUpload(){
      this.icon = "",
      this.form.image_url = "",
      this.form.tag_name = "",
      this.modals.upload = false
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>

<style>
.imageKategori {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  /* border-radius: 100px; */
}
</style>